* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

#logintab {
    text-align: center;
}